<!DOCTYPE html>

<html>

<head>
    <title>Bulma experiments</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- {% load static %} -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <style>
        .h-same{
            height:100%; 
            display: flex; 
            flex-direction: column;
        }
    </style>
</head>

<body>
    <section class="section pb-2">
        <h1 class="title">
            Bulma Experiments
        </h1>
        <h2 class="subtitle">
            Make it pretty
        </h2>
    </section>

    <section class="section">
        <div class="columns">
            <div class="column">
                <div class="card h-same">
                <!-- is-flex is-flex-direction-column" style="height: 100%;"> -->
                    <header class="card-header">
                        <p class="card-header-title">
                            Join Class
                        </p>
                        <button class="card-header-icon" aria-label="more options">
                            <span class="icon">
                                <i class="fas fa-users" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi
                            porta
                            
                        </div>
                    </div>
                    <footer class="card-footer" style="margin-top: auto;">
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Edit</a>
                        <a href="#" class="card-footer-item">Delete</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card h-same">
                    <header class="card-header">
                        <p class="card-header-title">
                            Join Class
                        </p>
                        <button class="card-header-icon" aria-label="more options">
                            <span class="icon">
                                <i class="fas fa-users" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi
                            porta
                            nascetur
                            ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                        </div>
                    </div>
                    <footer class="card-footer" style="margin-top: auto;">
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Edit</a>
                        <a href="#" class="card-footer-item">Delete</a>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card h-same">
                    <header class="card-header">
                        <p class="card-header-title">
                            Join Class
                        </p>
                        <button class="card-header-icon" aria-label="more options">
                            <span class="icon">
                                <i class="fas fa-users" aria-hidden="true"></i>
                            </span>
                        </button>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non mi
                            porta
                            gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes,
                            nascetur
                            ridiculus mus. Cras mattis consectetur purus sit amet fermentum.
                  
                        </div>
                    </div>
                    <footer class="card-footer" style="margin-top: auto;">
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Edit</a>
                        <a href="#" class="card-footer-item">Delete</a>
                    </footer>
                </div>
            </div>
        </div>







    </section>
</body>

</html>