<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Example</title>
</head>
<body>
    <form action="/polls/signup" method="post">
        <p>
            <label >
                Enter Username:
                <input type="text" name="username" id="username">
            </label>
        </p>
        <input type="password" name="pwd" id="pwd">
        <input type="button" value="Sign Up">
    </form>
</body>
</html>
<!-- 
username = request.POST['username']
pwd = reqeust.POST['pwd'] -->