<!DOCTYPE html>

<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<script src="https://kit.fontawesome.com/401d508782.js" crossorigin="anonymous"></script>
<title>Recipify!</title>



<body>
    <section class="section">
        <p class="title is-4">Top 5 Recipes of the day:</p>
        {% if recipes %}
        {% include 'recipe_cards.html' %}
        {% else %}
        There are no recipes to display.
        {% endif %}
    </section>

    <style>
        .column .myclass{
            flex-wrap: wrap;
            align-items: stretch;
        }

        /* .bm--textarea-equal-height .bm--card-footer-- {
            margin-top: auto;
        } */
    </style>

    {% if request.user.is_authenticated %}
    <section class="section">
        <form action=/send/ method="POST">
            <div class="columns">
                <div class="column is-half myclass" style="height: 100%;">
                    <div class="field">
                        <label for="name_txt" class="label">Recipe Name</label>
                        <input type="text" id="name_txt" name="name_txt" class="input" placeholder="e.g. Tacos">
                    </div>

                    <div class="columns">
                        <div class="column is-three-quarters">
                            <div class="field">
                                <label for="description" class="label">Description</label>
                                <textarea style="min-height:144px;height:100%" id="description" name="description"
                                    class="textarea has-fixed-size" placeholder="e.g. Easy, quick tacos!"></textarea>
                            </div>
                        </div>

                        <div class="column">
                            <div class="field">
                                <label for="serves" class="label">Serves</label>
                                <input type="number" id="serves" name="serves" min="1" class="input"
                                    placeholder="e.g. 4" value="4">
                            </div>
                            <div class="field">
                                <label for="prep" class="label">Prep Time (m)</label>
                                <input type="number" id="prep" name="prep" min="1" class="input" placeholder="e.g. 10"
                                    value="10">
                            </div>
                            <div class="field">
                                <label for="cuisine" class="label">Cuisine</label>
                                <input type="text" id="cuisine" name="cuisine" placeholder="e.g. Indian" class="input">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label for="ingredients" class="label">Ingredients
                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <button class="button is-static is-small" aria-haspopup="true"
                                        aria-controls="dropdown-menu4">
                                        <span class="icon is-small">
                                            <i class="fas fa-info" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                    <div class="dropdown-content">
                                        <div class="dropdown-item">
                                            <p>Put a space between the quantity and the ingredient. If there is no
                                                quantity, put '-'. For multiple word quantities use '-' between the
                                                words.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <textarea rows="10" cols="80" id="ingredients" name="ingredients"
                            class="textarea has-fixed-size" placeholder="175g pack baby corn
1-sliced-(190g) large red onion
1-deseeded-and-roughly-chopped red pepper
½-tsp cumin seeds
2-tsp olive oil
1-halved-lengthways-(110g) large ripe kiwi
1-halved-(115g) large tomato
100g wholemeal flour
1 large garlic clove
15g-chopped fresh coriander
1-tsp vegan bouillon powder
½-tsp smoked paprika
85g finely shredded red cabbage"></textarea>
                    </div>
                </div>
                <div class="column myclass">
                    <div class="field">
                        <label for="steps" class="label">Method</label>
                        <textarea style="min-height:529px;height:100%" id="steps" name="steps"
                            class="textarea has-fixed-size"
                            placeholder="STEP 1">
                        </textarea>
                    </div>
                </div>
            </div>
            <input class="button is-primary is-large" type="submit" name="Send">
        </form>
    </section>
    {% else %}
    <section class="section"><a class="button is-link is-light" href="{% url 'signup_login' %}"><strong>Sign
                up&nbsp</strong>or&nbsp<strong>login&nbsp</strong>to post a recipe</a></section>
    {% endif %}

</body>